.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto 0 auto;
  align-items: center;
  
  width: 100%;
  max-width: 1280px;
  width: 100%;
  position: relative;
  user-select: none;
}

.canvasWrapper {
  border: 1px solid #777;

}

.rules {

  margin-top: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
